@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	/* COLORS */
	--color-background: #f5f5f7;
	--color-background-alt: #000000;
	--color-text: #ffffff;
	--color-text-alt: #86868b;
	--color-border: #2d2d2d;

	--color-orange: #ff6600;
	--color-red: #ff6b6b;
	--color-blue: #3edfc8;
	--color-yellow: #f9ff45;

	--color-orange-hover: #f2680c;

	--color-orange-click: #e95e02;

	/* FONTS */
	--font-sans: 'Outfit', sans-serif;
}

.nav-wave {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%, 96% 96%, 93% 94%, 90% 97%, 88% 100%, 85% 97%, 82% 94%, 80% 97%, 78% 100%, 75% 96%, 72% 90%, 70% 95%, 66% 98%, 63% 98%, 59% 94%, 56% 89%, 53% 95%, 50% 95%, 45% 100%, 41% 97%, 35% 89%, 29% 99%, 23% 93%, 18% 100%, 14% 97%, 8% 100%, 5% 93%);
}